@import "bootstrap/bootstrap.less";

@offset: 20px;
@footer-height:100px;
@default-radius:6px;

html, body {height: 100%;}

.footer {
    position: relative;
	height: @footer-height;
	clear:both;
}

.side-container {
    display:inline-block;
    vertical-align:top;

    @media (min-width: @screen-sm-min) {
        width: (@container-sm/6) - @offset;
    }
    @media (min-width: @screen-md-min) {
        width: (@container-md/6) - @offset;
    }
    @media (min-width: @screen-lg-min) {
        width: (@container-lg/6) - @offset;
    }
}

.main-container {
    display:inline-block;
    vertical-align:top;

    @media (min-width: @screen-sm-min) {
        width: (5 * @container-sm/6) - @offset;
    }
    @media (min-width: @screen-md-min) {
        width: (5 * @container-md/6) - @offset;
    }
    @media (min-width: @screen-lg-min) {
        width: (5 * @container-lg/6) - @offset;
    }
}

.box.horizontal.paddedbox-small{
    display:inline-block;
    padding:0px 2px;
}
.box.horizontal.paddedbox-medium{
    display:inline-block;
    padding:0px 5px;
}
.box.horizontal.paddedbox-large{
    display:inline-block;
    padding:0px 10px;
}
.box{
    display:inline-block;
}

.content {
    padding:10px;
}

.form-label {
    width:145px;
}
.form-item {
    width:100%; //The rest...
}
.input-group {
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
}

.invisible {
    display:none;
}

.image-thumbnail-placeholder .icon-big {
    font-size:40px;
    color:@gray;
    margin-top:85px;
}
.image-thumbnail-placeholder {
    border:5px dashed @gray;
    width:250px;
    height:250px;
    vertical-align:middle;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.image-thumbnail {
    border-radius:@default-radius/2;
    max-width:250px;
}

.small-image-thumbnail {
    border-radius: @default-radius/2;
    max-width:50px;
}

.img-containter {
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

.profile-pic {
    border-radius: @default-radius;
    max-width:320px;
    margin-left:auto;
    margin-right:auto;
}
